@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  margin-top: 55px;
}

body {
  margin: 0;
  font-family: "Lato", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
}

h1,
h2,
h3 {
  font-family: "Cormorant", Georgia, serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar-button {
  background-color: #333333;
  color: white; /* Text color */
  padding: 10px 20px; /* Adjust padding as needed */
  border: none; /* Remove default button border */
  border-radius: 4px; /* Rounded corners for buttons, adjust as needed */
  text-align: center;
  text-decoration: none; /* Remove underlines on links */
  display: inline-block;
  font-size: 16px; /* Adjust font size as needed */
  cursor: pointer;
  transition: background-color 0.3s; /* Add a smooth transition effect */
 
}

.navbar-button:hover {
  background-color: #555555;
}

/* Basic styles for the menu container */
.menu-container {
  display: grid;
  grid-template-columns: 2fr 1fr; /* Divide the container into two columns */
  grid-gap: 20px; /* Add spacing between columns */
  height: 100vh;
  margin-top: 40px;
}

/* Style the left 2/3 of the screen for the menu */
.menu {
  padding: 20px; /* Add padding as needed */
}

.menu-category {
  border: 4px solid #333333;
  margin: 20px;
  text-transform: capitalize;
  border-radius: 4px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Style for the MenuListItem component */
.menu-item {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu-item-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.menu-item-right {
  margin-left: 10px; /* Add margin to separate the image from the rest */
  float: right; /* Float the image to the right */

}

.menu-item-left-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dashed #ccc;
  padding-bottom: 10px;
  margin-bottom: 30px;
  width: 100%;
  align-self: flex-start
}

.menu-item-name {
  font-size: 20px;
  font-weight: bold;
}

.menu-item-price {
  font-size: 16px;
  color: black;
}

.menu-item-description {
  font-size: 16px;
  color: #777;
  font-style: italic;
  text-transform: none;
}

.menu-item-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  border: 1px solid #ccc;
}

.menu-item-image:hover {
  transform: scale(1.3);
}

.button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

}

.cart-button {
  margin-top: 10px; /* Add margin to separate the button from the description */
  padding: 10px 20px; 
  font-size: 16px; /* Font size for the button text */
  background-color: #007bff; /* Button background color */
  color: #fff; /* Button text color */
  border: none;
  border-radius: 4px; /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.2s ease; /* Smooth hover transition */
  
}

.cart-button:hover {
  background-color: #0056b3;
}


.menu-page-cart {
  border: 4px solid #333333;
  position: fixed;
  top: 6rem;
  right: 2.5rem;
  width: 33.333333%;
  border-radius: 4px;
  padding: 2rem;
  overflow-y: auto;
  height: 85%;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

/* CART THINGS */

.checkout-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkout-header {
  font-size: 3rem;
}

/* Style for the CartListItem container */
.cart-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border: 1px solid #ccc; /* Add border or other styling as needed */
  padding: 10px;
  margin: 10px;
}

/* Style for the top section containing name and price */
.cart-item-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Style for the name */
.cart-item-name {
  font-weight: bold;
  text-transform: capitalize;
}

.cart-item-price {
  margin: 5px 10px;
}

.cart-item-description {
  width: 200%;
  text-align: left;
}

/* Style for the description in the bottom left */
.cart-item-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

/* Style for the cart-quantity-buttons container in the bottom right */
.cart-quantity-buttons-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

/* Style for the quantity buttons */
.cart-quantity-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 16px;
  margin: 10px 10px;
  cursor: pointer;
  outline: none;
}

/* Optional hover effect for quantity buttons */
.cart-quantity-button:hover {
  background-color: #0056b3;
}

.cart-total {
  padding: 10px
}

.empty-cart-button {
  display: inline-block;
  padding: 5px 10px; /* Adjust padding as needed */
  font-size: 16px; /* Font size for the button text */
  color: #8B0000; /* Button text color */
  border: 1px solid #8B0000;
  border-radius: 4px; /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.2s ease; /* Smooth hover transition */
}

.empty-cart-button:hover {
  background-color: #8B0000;
  color: white;
}

.checkout-button {
  display: inline-block;
  padding: 10px 20px; /* Adjust padding as needed */
  font-size: 16px; /* Font size for the button text */
  background-color: #007bff; /* Button background color */
  color: #fff; /* Button text color */
  border: none;
  border-radius: 4px; /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.2s ease; /* Smooth hover transition */
  margin-top: 10px;
}

.checkout-button:hover {
  background-color: #0056b3;
}

.payment-button {
  display: inline-block;
  padding: 10px 20px; /* Adjust padding as needed */
  font-size: 16px; /* Font size for the button text */
  background-color: #007bff; /* Button background color */
  color: #fff; /* Button text color */
  border: none;
  border-radius: 4px; /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.2s ease; /* Smooth hover transition */
  margin-top: 10px;
}

.payment-button:hover {
  background-color: #0056b3;
}

.cost-breakdown {
  display: flex;
  flex-direction: row;
  border: 1px #333333 solid;
  margin: 5px;
}

.cost-breakdown-labels {
text-align: left;
margin: 10px;
}

.cost-breakdown-values {
  text-align: right;
  margin: 10px;
}

.total-section {
  border-top: 1px #333333 solid;
}

/* Center the overlay content both horizontally and vertically */
.center-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.overlay-content-header {
  position: absolute;
  top: 15%; /* 15% from the top of the container */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
  text-align: center;
  width: 100%; /* Make the width 100% so it spans the entire container */
}

.overlay-content-button {
  position: absolute;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the restaurant name within the overlay */
.restaurant-name {
  font-family: "Cormorant", serif;
  font-size: 4rem;
  color: #dcdcdc; /* Adjust the color as needed */
  margin-top: 20px; /* Adjust the top margin as needed */
}

/* Style the "Menu" button within the overlay */
.menu-button {
  background-color: #333333;
  color: white;
  padding: 10px 20px;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.menu-button:hover {
  background-color: #555555;
}

/* THIS IS THE START */

.edit-menu-page-header {
  font-size: 3rem;
}

.create-new-item-button {
  background-color: #333333;
  color: #f5f5f5;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px;
  width: 150px;
}

.create-new-item-button:hover {
  background-color: #555555;
}

.edit-menu-list-container {
  background-color: #f5f5f5;
  border: 1px solid #333333;
  padding: 20px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto
}

.edit-menu-list-item {
  background-color: #ffffff;
  border: 1px solid #ddd;
  padding-top: 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content:space-evenly ;
  align-items: center;
  width: 100%;
}

.edit-menu-list-item:hover {
  background-color: #f9f9f9;
}

/* Style the buttons */
.edit-menu-list-item button {
  background-color: #333333;
  color: #f5f5f5;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px;
  width: 150px;
}

.edit-menu-list-item button:hover {
  background-color: #555555;
}

/* THIS IS THE END */

.edit-menu-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 10%;

}

.edit-menu-list-item .enable-item-button {
  background-color: #4CAF50;
}

.edit-menu-list-item .enable-item-button:hover {
  background-color: #388E3C
}

.edit-menu-list-item .disable-item-button {
  background-color: #E57373
}

.edit-menu-list-item .disable-item-button:hover {
  background-color: #C62828
}

.display-item {
  background-color: #f5f5f5;
  border: 1px solid #333333;
  padding: 20px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  width: 80%;
}

.display-item-name {
  font-size: 24px;
  margin: 10px;
  color: #333333;
}

.display-item-description {
  font-size: 16px;
  color: #555555;
  margin: 10px;
  text-align: left;
}

.display-item-category {
  font-size: 16px;
  color: #555555;
  text-transform: capitalize;
  margin: 10px;
}

.display-item-price {
  font-size: 18px;
  font-weight: bold;
  color: #333333;
  margin: 10px;
}

.display-item-status {
  font-size: 16px;
  color: #f5f5f5;
  background-color: #333333;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
  margin: 10px;
}

.display-item-status.active {
  background-color: #4CAF50; /* Green for active */
}

.display-item-status.inactive {
  background-color: #E57373; /* Red for inactive */
}

.display-item-edit-button {
  background-color: #333333;
  color: #f5f5f5;
  border: none;
  padding: 10px 15px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.display-item-edit-button:hover {
  background-color: #555555;
}

.edit-item-form {
  background-color: #f5f5f5;
  border: 1px solid #333333;
  padding: 20px;
  margin-bottom: 10px;
}

.edit-item-section {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.edit-item-image {
  padding: 0;
  border: none;
}

.edit-menu-list-item .edit-item-save-button {
  background-color: #4CAF50; /* Green color */
  color: #f5f5f5;
  border: none;
  padding: 10px 15px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit-menu-list-item .edit-item-save-button:hover {
  background-color: #388E3C; /* Darker green for hover */
}

.new-item-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-new-item-form {
  background-color: #f5f5f5;
  border: 1px solid #333333;
  padding: 20px;
  width: 80%;
  align-self: center;
}

.form-title {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333333;
}

.form-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.form-submit-button {
  background-color: #4CAF50; /* Green color */
  color: #f5f5f5;
  border: none;
  padding: 10px 15px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-submit-button:hover {
  background-color: #388E3C; /* Darker green for hover */
}

.admin-dashboard-header {
  font-size: 3rem;
}

.admin-dashboard {
  background-color: #f5f5f5;
  padding: 20px;
  border: 1px solid #333333;
}

.dashboard-header {
  font-size: 36px;
  color: #333333;
  margin-bottom: 20px;
}

.dashboard-order-lists-container {
  display: flex;
  justify-content: space-between;
}

.dashboard-column {
  flex: 1;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-right: 20px;
}

.dashboard-column-title {
  font-size: 24px;
  color: #333333;
  margin-bottom: 10px;
}

/* Add responsive styling for smaller screens if needed */
@media (max-width: 768px) {
  .dashboard-order-lists-container {
    flex-direction: column;
  }

  .dashboard-column {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.dashboard-list-order {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
}

.dashboard-order-label {
  font-size: 16px;
  color: #555555;
  margin-bottom: 5px;
}

.dashboard-order-items {
  margin-bottom: 10px;
  /* Style your item list as needed */
}

.dashboard-order-status {
  font-size: 16px;
  color: #555555;
  text-transform: capitalize;
}

.dashboard-order-button {
  background-color: #4CAF50; /* Green color */
  color: #f5f5f5;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.dashboard-order-button:hover {
  background-color: #388E3C; /* Darker green for hover */
}

.order-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.order-item-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.order-item-name {
  font-size: 16px;
  color: #333333;
}

.order-item-quantity {
  font-size: 16px;
  color: #555555;
}

.user-profile {
  background-color: #f5f5f5;
  padding: 20px;
  border: 1px solid #333333;
}

.user-profile-title {
  font-size: 36px;
  color: #333333;
  margin-bottom: 20px;
}

.user-profile-details {
  display: flex;
  flex-direction: column; /* Change to a vertical layout */
  font-size: 16px;
  color: #333333;
  margin-bottom: 10px;
  justify-content: left;
  align-items: flex-start;
}

.user-profile-label {
  font-weight: bold;
}

.user-profile-value {
  font-weight: normal;
}

.user-address-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.user-address-button {
  background-color: #333333;
  color: #f5f5f5;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.user-address-button:hover {
  background-color: #555555;
}

.user-address-form {
  display: flex;
  align-items: center;
}

.user-address-label {
  font-size: 16px;
  color: #333333;
  margin-right: 10px;
}

.user-address-input {
  flex: 1;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #555555;
}

.user-address-button {
  background-color: #4CAF50;
  color: #f5f5f5;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.user-address-button:hover {
  background-color: #388E3C;
}

.user-profile-lists {
  display: flex;
  justify-content:space-evenly;
  
}

.user-address-list {
  flex: 1;
  margin-right: 20px;
  max-width: 35%;
  border: 2px solid #333333;
  border-radius: 4px;
  padding: 10px;
}

.user-order-list {
  flex: 1;
  max-width: 35%;
  border: 2px solid #333333;
  border-radius: 4px;
  padding: 10px;
}

.login-page {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.login-form-container {
  background-color: #f5f5f5;
  padding: 0px 20px 20px 20px;
  border: 1px solid #333333;
  border-radius: 5px;
  max-width: 600px;
}

.login-header {
  font-size: 2rem;
}

.login-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #555555;
}

.login-button {
  background-color: #333333;
  color: #f5f5f5;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #555555;
}

.about-page {
  background-color: #f5f5f5;
  padding: 20px;
  border: 1px solid #333333;
  border-radius: 5px;
}

.about-page-title {
  font-size: 36px;
  color: #333333;
  margin-bottom: 20px;
}

.about-page-description {
  font-size: 16px;
  color: #555555;
  line-height: 1.5; /* Adjust line height for readability */
}

.contact-us-page {
  background-color: #f5f5f5;
  padding: 20px;
  border: 1px solid #333333;
  border-radius: 5px;
}

.contact-us-title {
  font-size: 36px;
  color: #333333;
  margin-bottom: 20px;
}

.contact-info {
  font-size: 16px;
  color: #555555;
}

.contact-phone a,
.contact-email a {
  color: #555555;
  text-decoration: none;
}

.contact-phone a:hover,
.contact-email a:hover {
  color: #333333;
}

/* reservation.css */

.reservation-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.reservation-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.reservation-subtitle {
  font-size: 20px;
  margin-bottom: 10px;
}

.reservation-timeslots {
  border: 1px solid #ddd;
  padding: 20px;
}

.reservation-timeslot-list {
  list-style: none;
  padding: 0;
}

.reservation-timeslot-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.reservation-timeslot-time {
  font-size: 18px;
}

.reservation-book-button {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reservation-book-button:hover {
  background-color: #388E3C;
}

.reservation-not-available {
  color: #FF0000;
  font-weight: bold;
}

.calendar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  max-width: 50%;
}

.calendar {
  border: 1px #333333 solid;
}

.calendar-cell {
  border: 1px #333333 solid;
}

.calendar-cell.available {
  background-color: #8FBC8F; /* Green color */
  color: #fff; /* White text color */
}

.calendar-cell.unavailable {
  background-color: #800020; /* Red color */
  color: #fff; /* White text color */
}

.admin-dashboard-button {
  background-color: #333333;
  color: #f5f5f5;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 15px;
}

.admin-dashboard-button:hover {
  background-color: #555555;
}

/* reservation-dashboard.css */

.reservation-dashboard {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.reservation-dashboard h1 {
  font-size: 24px;
  margin-bottom: 16px;
  color: #333;
}

.reservation-list {
  display: flex;
  flex-direction: column;
}

/* Style for each Reservation List Item */
.reservation-list-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 12px;
  margin-bottom: 12px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.reservation-list-item:hover {
  background-color: #f0f0f0;
}

/* Individual item content styles */
.reservation-list-item > div {
  margin-bottom: 8px;
}

/* Add more styles as needed */
/* Your CSS file */
.time-slot {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 300px;
}

.time-slot.available {
  background-color: #b8e2a8;
}

.time-slot.unavailable {
  background-color: #f5a623;
}

.time {
  font-weight: bold;
}

.seats-available {
  font-size: 14px;
  color: #333;
}

.reservation-page {
  display: flex;
  justify-content: center;
}

.reservation-page-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%
}

/* Your CSS file */
.reservation-form {
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  min-width: 300px;
  max-width: 400px;
  margin: 15px 0px;
  max-height: 500px
}

h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
}

.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.form-input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.5);
}

.button-group {
  display: flex;
  justify-content: space-between;
}

.submit-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3;
}

.cancel-button {
  background-color: #ccc;
  color: #333;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cancel-button:hover {
  background-color: #999;
}

.checkout-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
  margin: 0 auto;
}

.payment-page-header {
  font-size: 3rem;
}

.view-order {
  background-color: #f5f5f5; /* Background color */
  border: 1px solid #333333; /* Border color */
  border-radius: 4px; /* Border radius */
  padding: 20px; /* Padding */
  max-width: 400px; /* Maximum width */
  margin: 0 auto; /* Center align */
  text-align: center; /* Center text */
}

.order-title {
  font-size: 24px; /* Font size for the title */
  margin-bottom: 10px; /* Spacing below the title */
}

.order-status {
  font-size: 16px; /* Font size for the status */
}