@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  margin-top: 55px;
}

body {
  margin: 0;
  font-family: "Lato", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
}

h1,
h2,
h3 {
  font-family: "Cormorant", Georgia, serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar-button {
  background-color: #333333;
  color: white; /* Text color */
  padding: 10px 20px; /* Adjust padding as needed */
  border: none; /* Remove default button border */
  border-radius: 4px; /* Rounded corners for buttons, adjust as needed */
  text-align: center;
  text-decoration: none; /* Remove underlines on links */
  display: inline-block;
  font-size: 16px; /* Adjust font size as needed */
  cursor: pointer;
  transition: background-color 0.3s; /* Add a smooth transition effect */

  /* Optional: Hover styles for buttons */
  &:hover {
    background-color: #555555; /* Darker color on hover */
  }
}

/* Basic styles for the menu container */
.menu-container {
  display: grid;
  grid-template-columns: 2fr 1fr; /* Divide the container into two columns */
  grid-gap: 20px; /* Add spacing between columns */
  height: 100vh;
  margin-top: 40px;
  
}

/* Style the left 2/3 of the screen for the menu */
.menu {
  padding: 20px; /* Add padding as needed */
}

.menu-category {
  border: 4px solid #333333;
  margin: 20px;
  text-transform: capitalize;
  border-radius: 4px;
}

/* Style for the MenuListItem component */
.menu-item {
  background-color: #fff; /* Background color for menu items */
  border: 1px solid #ccc; /* Border for menu items */
  border-radius: 4px; /* Rounded corners */
  padding: 20px; /* Add padding as needed */
  margin-bottom: 10px; /* Spacing between menu items */
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}

.menu-item-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dashed #ccc; /* Dotted or dashed line between name and price */
  padding-bottom: 10px; /* Spacing between top row and bottom row */
}

.menu-item-name {
  font-size: 18px; /* Font size for item name */
  font-weight: bold; /* Bold text for item name */
}

.menu-item-price {
  font-size: 16px; /* Font size for item price */
  color: black; /* Price text color */
}

.menu-item-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px; /* Spacing between top and bottom sections */
}

.menu-item-description {
  font-size: 14px; /* Font size for item description */
  color: #777; /* Description text color */
  font-style: italic;
  text-transform: none;
}

/* CART THINGS */

/* Style for the CartListItem container */
.cart-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border: 1px solid #ccc; /* Add border or other styling as needed */
  padding: 10px;
  margin: 10px;
}

/* Style for the top section containing name and price */
.cart-item-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Style for the name */
.cart-item-name {
  font-weight: bold;
  text-transform: capitalize;
}

.cart-item-price {
  margin: 5px 10px 
}

.cart-item-description {
  width: 90%;
  text-align: left;
}

/* Style for the description in the bottom left */
.cart-item-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

/* Style for the cart-quantity-buttons container in the bottom right */
.cart-quantity-buttons-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

/* Style for the quantity buttons */
.cart-quantity-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 16px;
  margin: 10px 10px;
  cursor: pointer;
  outline: none;
}

/* Optional hover effect for quantity buttons */
.cart-quantity-button:hover {
  background-color: #0056b3;
}


.cart-button {
  display: inline-block;
  padding: 10px 20px; /* Adjust padding as needed */
  font-size: 16px; /* Font size for the button text */
  background-color: #007bff; /* Button background color */
  color: #fff; /* Button text color */
  border: none;
  border-radius: 4px; /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.2s ease; /* Smooth hover transition */
}

.cart-button:hover {
  background-color: #0056b3;
}

/* Center the overlay content both horizontally and vertically */
.center-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.overlay-content-header {
  position: absolute;
  top: 15%; /* 15% from the top of the container */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
  text-align: center;
  width: 100%; /* Make the width 100% so it spans the entire container */
}

.overlay-content-button {
  position: absolute;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the restaurant name within the overlay */
.restaurant-name {
  font-family: 'Cormorant', serif;
  font-size: 4rem;
  color: #DCDCDC; /* Adjust the color as needed */
  margin-top: 20px; /* Adjust the top margin as needed */
}

/* Style the "Menu" button within the overlay */
.menu-button {
  background-color: #333333;
  color: white;
  padding: 10px 20px;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.menu-button:hover {
  background-color: #6666cc;
}


