@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Lato', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F5F5F5;
}

h1, h2, h3 {
  font-family: 'Cormorant', Georgia, serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-button {
  background-color: #333333;
  color: white; /* Text color */
  padding: 10px 20px; /* Adjust padding as needed */
  border: none; /* Remove default button border */
  border-radius: 4px; /* Rounded corners for buttons, adjust as needed */
  text-align: center;
  text-decoration: none; /* Remove underlines on links */
  display: inline-block;
  font-size: 16px; /* Adjust font size as needed */
  cursor: pointer;
  transition: background-color 0.3s; /* Add a smooth transition effect */

  /* Optional: Hover styles for buttons */
  &:hover {
    background-color: #555555; /* Darker color on hover */
  }
}

